API/appsettings.json
Frontend/ssl/localhost-key.pem
Frontend/ssl/localhost.pem
Infastructure/obj/project.nuget.cache
.vscode/settings.json
Core/bin/Debug/net8.0/Core.dll
Core/obj/Debug/net8.0/Core.dll
Core/bin/Debug/net8.0/Core.dll
Infastructure/bin/Debug/net8.0/Core.dll
Infastructure/obj/Debug/net8.0/refint/Infastructure.dll
Infastructure/obj/Debug/net8.0/ref/Infastructure.dll
Infastructure/obj/Debug/net8.0/Infastructure.sourcelink.json
Infastructure/obj/Debug/net8.0/Infastructure.pdb
Infastructure/obj/Debug/net8.0/Infastructure.GeneratedMSBuildEditorConfig.editorconfig
Infastructure/obj/Debug/net8.0/Infastructure.dll
Infastructure/obj/Debug/net8.0/Infastructure.csproj.AssemblyReference.cache
Infastructure/obj/Debug/net8.0/Infastructure.assets.cache
Infastructure/obj/Debug/net8.0/Infastructure.AssemblyInfoInputs.cache
Infastructure/obj/Debug/net8.0/Infastructure.AssemblyInfo.cs
Infastructure/obj/project.nuget.cache
Infastructure/obj/Infastructure.csproj.nuget.dgspec.json
Infastructure/bin/Debug/net8.0/Infastructure.dll
Infastructure/bin/Debug/net8.0/Infastructure.pdb
Infastructure/bin/Debug/net8.0/Core.pdb
Infastructure/bin/Debug/net8.0/Core.dll
